{% extends 'base.html' %}
{% block content %}

<!-- page-title -->
<section class="page-title centred" style="background-image: url(../static/main/images/background/page-title.jpg);">
    <div class="container">
        <div class="content-box" style="background-color: #2531d6;">
            <div class="title">Deepfake Detection </div>
            <ul class="bread-crumb">
                <li>Project 4</li>
            </ul>
        </div>
    </div>
</section>
<!-- page-title end -->

<!-- form-section -->
<section class="contact-section" style="padding-top:50px;" id="predict1">
    <div class="container">
        <div class="title-box centred">
            <div class="sec-title">Upload file</div>
        </div>
        <form class="login100-form validate-form" action="/predict" method=post enctype=multipart/form-data>
            <div class="row" style=" width: 35%; margin: auto; padding: 15px;">
                <div class="column">
                    <div class="form-check form-check-inline">
                        <p style="font-weight: bold; color: black;">Select Model : </p>
                    </div>
                </div>
                <div class="column">
                    <div class="form-check form-check-inline">
                        <select name="select_model" id="selected_model">
                            <option value='densenet'>Model Densenet</option>
                            <option value='mobilenetv2'>Model Mobilenet V2 </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="container-login100-form-btn">
                <div class="wrap-input100 validate-input" data-validate="Image file is required" id="input">
                    <input class="input100" id="image-source" name="file" onchange="previewImage();" type="file"
                        alt="Input Image" accept="image/jpeg,image/jpg,image/png">
                    </span>
                </div>
            </div>
            <div class="container-login100-form-btn">
                <button class="login100-form-btn" type="submit">
                    Execute
                </button>
            </div>
        </form>
    </div>
</section>
<!-- form-section end -->

{% endblock %}